* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(233, 8%, 62%);
  font-size: 1.125em;
  font-family: "Public Sans", sans-serif;
}

a {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
  text-decoration: none;
}

h1 {
  font-size: 2.87rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  padding: 1.3rem 0;
}

svg {
  color: #fff;
}

/* --------------------- nav ------------------------- */
nav {
  background-color: hsl(0, 0%, 100%);
  padding: 0 7rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  margin: 0 1rem;
  padding: 1.6rem 0;
  border-bottom: 0.25 solid transparent;
}

nav li:hover {
  border-image: linear-gradient(
    to right,
    hsl(136, 65%, 50%),
    hsl(192, 70%, 50%)
  );
  border-image-slice: 1;
}

nav li:hover a {
  color: hsl(233, 26%, 24%);
}

div.request a:hover {
  opacity: 0.5;
  /*filter For IE8 and earlier versions supports */
  filter: alpha(opacity=50);
}

div.hamburger {
  display: none;
}

/* --------------- start main ---------------- */
article {
  display: flex;
}

div.article-one-text {
  align-self: center;
  padding-left: 7rem;
  width: 35%;
}

div.article-one-text p {
  margin: 0 0 2.5rem;
}

div.article-one-text a {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%));
  padding: 0.7rem -1.5rem;
  border-radius: 2rem;
  color: hsl(0, 0%, 100%);
}

div.article-one-text a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

div.article-one-image {
  background-image: url(bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 65%;
  display: flex;
  justify-content: end;
}
/* ------------------- End article one -------------------- */

/* --------------------- article two ---------------------- */
article.article-two {
  flex-direction: column;
  background-color: hsl(220, 16%, 96%);
  margin-top: -5rem;
  padding: 7rem;
}

:is(.sections-one, .sections-two) {
  display: flex;
  margin-top: 3rem;
}

:is(div.sections-one, div.sections-two) section {
  padding-right: 1.5rem;
}

:is(div.sections-one, div.sections-two) section:last-child {
  padding-right: 0;
}

div.sections-one section img {
  width: 3.5rem;
  height: 3.5rem;
}

/* --------------------- End article two ---------------------- */

/* ------------------- article three ------------------- */

article.article-three {
  flex-direction: column;
  padding: 7rem;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 0.875rem;
  padding: 0 1.625rem;
  background-color: hsl(0, 27%, 100%);
}

div.sections-two h4:hover {
  color: hsl(192, 70%, 51%);
  transition: all 0.5s;
}

div.sections-two p {
  height: 9.187rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

:is(div.sections-two) p,
h4 {
  padding: 0.3rem -1.625em 0.5rem;
  background-color: hsl(0, 27%, 100%);
}

/* -------------------End article three ------------------- */

/* ----------------------- footer ------------------------- */
footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 7rem;
}

/* ----------------------- End footer ------------------------- */

/* -------------------------------- End main -------------------------------- */
